body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Verdana;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#navbar a:hover{
	color: darkslateblue;
}

#main-header{
	background-color:rebeccapurple;
	color:#fff;
}

#navbar{
	background-color: darkviolet;
	color:#000;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:45px;
}

#showcase{
	background-image:url('../images/soumyajoy.png');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	padding-top: 150px;
}

#showcase p{
	color:#fff;
	font-size:14px;
	line-height: 1.6em;
	padding-top:200px;
	text-align: center;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
	font-family: verdana;
}

#main h4{
	font-family: verdana;
}

#sidebar{
	float:right;
	width:30%;
	background: cadetblue;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
	margin-top: 50px;
	font-family: verdana;
}

#main-footer{
	background: cadetblue;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}